
body { background-image: url("background.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    background-size: 100% 100%;
    margin: 0%
    
    
}

img { display: block;
    margin: auto;
}

#BigWrapper { background: white;
    margin: auto;
    width: 85%;
    min-height: 600px;
    
}

#Wrapper { background: white;
    margin: auto;
    width: 50%;
    font: Arial;
    min-height: 600px;
    
}

#Instructions {
    padding: 10px 0px 0px 0px;
    margin: 0px 0px 5px 0px;
    font-size: 22px;
    line-height: 24px;
    
}

#Content {
    font-size: 16px;
    font-family: Arial Narrow, Arial, sans-serif;
    line-height: 17px;
    padding-bottom: 30px;

}

#Footer {
    background-color: rgb(75,75,75);
}

.FooterBox {
    font-family: Arial Narrow, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: rgb(158,158,158);
    
    width: 220px;
    min-height: 310px;
    display: inline-block;
    margin-left: 75px;
    vertical-align: top;
    
}

.FooterBox h3 {
    font-family: Arial Narrow, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: rgb(220,220,220);

}

Form {
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px; border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; z-index: 1;
    padding: 10px 0px 0px 10px;
}

label {
    font-size: 18px;
    line-height: 21px;
}

#applicant_form_footer {
    padding-left: 35px;
    

}

.applicant_form_table {
    width: 200px;
    padding-left: 30px;
    font-weight: bold;
    text-decoration: underline;
    

}

.applicant_form_table p {
    margin: 0px 0px 3px 0px;
    
}

#non_table_audition_form_elements label {
    font-weight: bold;
    text-decoration: underline;
}

#non_table_audition_form_elements p {
    margin: 0px 0px 3px 0px;
}

#non_table_audition_form_elements textarea {
    margin-top: 3px;
}

input { margin: 3px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
    height:17px;
    width: 150px;
    font-size: 12px

}

select { margin: 0px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
}

textarea { margin: 0px 0px 20px 0px;
    padding: 0px 0px 0px 0px;

}

ul { margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

li { color: red;
    
}

