
body {
    background-image: url("background.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    background-size: 100% 100%;
    margin: 0%
}

img {
    display: block;
    margin: auto;
    width: 100%;
    min-height: 56px;
}

#BigWrapper {
    background: white;
    margin: auto;
    width: 85%;
    min-height: 600px;
}

#Wrapper {
    background: white;
    margin: auto;
    width: 50%;
    font: Arial;
    min-height: 600px;
}

#Instructions {
    padding: 10px 0px 0px 0px;
    margin: 0px 0px 5px 0px;
    font-size: 22px;
    line-height: 24px;
    
}

#Content {
    font-size: 16px;
    font-family: Arial Narrow, Arial, sans-serif;
    line-height: 17px;
    padding-bottom: 30px;
    
}

.applicant_form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.applicant_form_table {
    flex-basis: 200px;
    list-style-type:none;
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.applicant_form_table p {
    margin: 0px 0px 3px 0px;
}

.applicant_form_table input {
    margin: 3px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
    height:17px;
    width: 150px;
    font-size: 12px
}


applicant_form_footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.applicant_form_footer_table {
    list-style-type:none;
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

.applicant_form_footer_table label {
    font-weight: bold;
    text-decoration: underline;
}

.applicant_form_footer_table p {
    margin: 0px 0px 3px 0px;
}

.applicant_form_footer_table textarea {
    margin-top: 3px;
}

.applicant_form_footer_table input {
    margin: 3px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
    height:17px;
    width: 150px;
    font-size: 12px
}


#Footer {
    background-color: rgb(75,75,75);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}

.FooterBox {
    font-family: Arial Narrow, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: rgb(158,158,158);
    text-align: center;
    max-width: 220px;
    
    
    /* min-height: 310px;
     display: inline-block;
     margin-left: px;
     vertical-align: top;*/
    
}

.FooterBox h3 {
    font-family: Arial Narrow, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: rgb(220,220,220);
    
}

.shadow_box {
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px; border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; z-index: 1;
    padding: 10px 0px 0px 10px;
}

label {
    font-size: 18px;
    line-height: 21px;
}

.input_1 {
    margin: 3px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
    height: 17px;
    width: 150px;
    font-size: 12px
    
}

.paypal_button {
    position: relative;
    bottom: 106px;
    left: 235px;
}

select {
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
}

textarea {
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
    
}

ul {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

li { color: red;
    
}


/* Medium screens */
@media all and (max-width: 900px) {
    .applicant_form {
        display: block;
        text-align: center;
    }
    
    .applicant_form_footer {
        display: block;
        text-align: center;
    }
    
    textarea {
        width: 180px;
    }
    
    .paypal_button {
        position: relative;
        bottom: 120px;
        left: 30%;
    }
    
    .input_1 {
        margin: 45px 0px 20px 0px;
    }
    
}


/* Small screens */
@media all and (max-width: 500px) {
    #Wrapper {
        width: 80%;
    }

}
