{% extends "base.html" %}

{% block Instructions %}
<p>You are logged in as "{{ request.user.username }}"</p>

<p>Please mark accepted/alternate/declined applicants, rank and submit.</p>

Select instrument to judge:<br>
<form action="{% url 'applicant_selection' %}" method="get">

    {% csrf_token %}
    {% for field in instrument_list %}
    {{ field }}

    {% endfor %}
    <input type="submit" value="Submit"/>
</form>
<hr>
{% endblock %}

{% block Content %}


{% if set %}

<p class="judge_button">Displaying all {{ instrument }} applicants:</p>

<form action="{% url 'applicant_selection' %}" method="post">
    {{ set.management_form }}
    {% csrf_token %}
    {% for form in set %}
        {% for field in form %}
            {% if "-id" in field.id_for_label %}
                {{ field.as_hidden }}
            {% elif "name" in field.id_for_label %}
                {{ field.value }}
                {{ field.as_hidden }}
            {% elif "status" in field.id_for_label %}
                {{ field }}
            {% elif "ranking" in field.id_for_label %}
                {{ field.name }}
                {{ field }}
            {% endif %}
        {% endfor %}
        <br>
    {% endfor %}
    <input type="submit" value="Submit" class="input_1" />
</form>
{% endif %}
<br>
<a href="{% url 'judge_logout' %}" class="judge_button">Logout</a><br>

{% endblock %}
