{% extends "base.html" %}

{% block Instructions %}
<p>You are logged in as "{{ request.user.username }}"</p>
{% if request.user.username == 'Violin' %}
<p>Use "part" to mark accepted/alternate applicant Violin 1 or Violin 2.</p>
{% elif request.user.username != 'Violin' %}
<p>Please mark accepted/alternate applicants and submit. Use of "part" to rank applicants is optional.</p>
{% endif %}


<p>
<a href="{% url 'judge_logout' %}">Logout</a><br>
</p>

<hr>
{% endblock %}

{% block Content %}
<form action="{% url 'applicant_selection' %}" method="post">
    {{ set.management_form }}
    {% csrf_token %}
    {% for form in set %}
        {% for field in form %}
            {% if "-id" in field.id_for_label %}
                {{ field.as_hidden }}
            {% elif "name" in field.id_for_label %}
                {{ field.value }}
                {{ field.as_hidden }}
            {% elif "status" in field.id_for_label %}
                {{ field }}
            {% elif "part" in field.id_for_label %}
                {{ field.name }}
                {{ field }}
            {% endif %}
        {% endfor %}
        <br>
    {% endfor %}
    <input type="submit" value="Submit" />
</form>

{% endblock %}