{% extends "base.html" %}

{% block Instructions %}
<p>Hi {{ first_name }}!</p>

<p>Please accept or decline your offer to participate in Orchestra Next:</p>

<p>Don't forget to click the submit button!</p>

<hr>
{% endblock %}

{% block Content %}
<form action="{% url 'applicant_confirmation' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
        {% if "name" in field.id_for_label %}
            {{ field.as_hidden }}
        {% elif "confirmation" in field.id_for_label %}
            {{ field }}
        {% elif "code" in field.id_for_label %}
            {{ field.as_hidden }}
        {% endif %}
    {% endfor %}
    
    <br>
    <input type="submit" value="Submit" />
</form>


{% endblock %}