{% extends "base.html" %}

{% block Instructions %}

<p>You are logged in as "{{ request.user.username }}"</p>
<p>Note that you will not be able to submit choices until
the audition is closed.</p>
    {% if not applicant_list %}
    <p>There are no applicants.</p>
    {% endif %}

<p>
<a href="{% url 'judge_logout' %}">Logout</a><br>
<a href="{% url 'applicant_selection' %}">Submit Choices</a><br>
</p>

<hr>
{% endblock %}

{% block Content %}

{% for applicant in applicant_list %}
    <p>{{ applicant.first_name }}
    {{ applicant.last_name }}
    <br>
    Age: {{ applicant.age }}
    <br>
    <iframe src="https://www.youtube.com/embed/{{applicant.youtube_link}}"></iframe>
    </p>
{% endfor %}


{% endblock %}