<!DOCTYPE html>
<html lang="en">
    
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "AuditiON/style.css" %}" />
    <script type="text/javascript">
        if (screen.width <= 800) {
            var obj = document.getElementById("pb");
            obj[0].style.left = "40px";
    </script>

    <title>{% block title %}AuditiON{% endblock %}</title>
</head>

<body>
    <div id="HeadPic">
        
    </div>
    
    <div id="BigWrapper">
        <div id="Wrapper">
            <div id="Content">
                <img src="{% static "AuditiON/Logo.png" %}">
                    <div id="Instructions">
                        {% block Instructions %}
                
                        {% endblock %}
                    </div>
                
                {% block Content %}
            
            
                {% endblock %}
            
            
            </div>
        </div>
        <div id="Footer">
            <div class="FooterBox">
                <h3>2017/18 SEASON</h3>
                <p><i>LEFT HAND OF DARKNESS</i> - NOV - 2017</p>
                <p><i>THE NUTCRACKER</i> - DEC - 2017</p>
                <p><i>PEER GYNT</i> - APR 2018</p>
            </div>
            <div class="FooterBox">
                <h3>ORCHESTRA NEXT</h3>
               <p>Orchestra Next, a 501(c)3 non-profit organization, is committed to training the next generation of orchestral musicians. We do this by seeking out opportunities where students and professionals can collaborate, rehearse, and perform together. And we look for opportunities where we can meaningfully contribute to Oregon’s cultural landscape. Orchestra Next strives for excellence in its model of mentorship, virtuosity in every production, and fun at all costs.</p>
            </div>
            <div class="FooterBox">
                <h3>BOARD MEMBERS</h3>
                <p>John Reynolds, president<br>
                Phyllis Helland, secretary<br>
                Mark Gould<br>
                Riley Grannan<br>
                Brian McWhorter, ex-officio<br>
                Ray Morse<br>
                Sarah Viens, ex-officio<br></p>
            </div>
            
        </div>
        

    </div>
</body>
</html>
    
