{% extends "base.html" %}

{% block Instructions %}
<p>Welcome to AuditiON! Please fill in your information below and submit to be considered for the Orchestra Next 2016-17 season.</p>

<hr>
{% endblock %}

{% block Content %}
<form action="{% url 'audition_form' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
    
        <br>
        {{ field.label_tag }}
        <br>
        {% if field.errors %}
        {{ field.errors }}
        {% endif %}
        {% if field.help_text %}
        {{ field.help_text }}<br>
        {% endif %}
        {{ field }}
        
    {% endfor %}
    <br>
    <input type="submit" value="Submit" />
</form>

{% endblock %}