{% extends "base.html" %}

{% block Instructions %}
<p align="center"><u>Fellowship Application 2017-18<br>
Due October 22nd</u></p>

<hr>
{% endblock %}

{% block Content %}
<form action="{% url 'audition_form' %}" method="post" class="shadow_box">
    {% csrf_token %}
    
    <table>
    <tr>
        <td class="applicant_form_table">
            {{ form.first_name.label_tag }}<br>
            
            {% if form.first_name.errors %}
                {{ form.first_name.errors }}
            {% endif %}
            {% if form.first_name.help_text %}
                {{ form.first_name.help_text }}<br>
            {% endif %}
            
            {{ form.first_name }}</td>
        
        <td class="applicant_form_table">
            {{ form.last_name.label_tag }}<br>
            
            {% if form.last_name.errors %}
                {{ form.last_name.errors }}
            {% endif %}
            {% if form.last.name.help_text %}
                {{ form.last_name.help_text }}<br>
            {% endif %}
            
            {{ form.last_name }}</td>
        
    </tr>
    <tr>
        <td class="applicant_form_table">
            {{ form.phone_number.label_tag }}<br>
            
            {% if form.phone_number.errors %}
                {{ form.phone_number.errors }}
            {% endif %}
            {% if form.phone_number.help_text %}
                {{ form.phone_number.help_text }}<br>
            {% endif %}
            
            {{ form.phone_number }}</td>
        
        <td class="applicant_form_table">
            {{ form.email_address.label_tag }}<br>
            
            {% if form.email_address.errors %}
                {{ form.email_address.errors }}
            {% endif %}
            {% if form.email_address.help_text %}
                {{ form.email_address.help_text }}<br>
            {% endif %}
            
            {{ form.email_address }}</td>
        
    </tr>
    <tr>
        <td class="applicant_form_table">
            {{ form.zip_code.label_tag }}<br>
            
            {% if form.zip_code.errors %}
            {{ form.zip_code.errors }}
            {% endif %}
            {% if form.zip_code.help_text %}
            {{ form.zip_code.help_text }}<br>
            {% endif %}
            
            {{ form.zip_code }}</td>
        
        <td class="applicant_form_table">
            {{ form.age.label_tag }}<br>
            
            {% if form.age.errors %}
            {{ form.age.errors }}
            {% endif %}
            {% if form.age.help_text %}
            {{ form.age.help_text }}<br>
            {% endif %}
            
            {{ form.age }}</td>
        
    </tr>
    <tr>
        <td class="applicant_form_table">
            <p>{{ form.instrument.label_tag }}</p>
            
            {% if form.instrument.errors %}
            {{ form.instrument.errors }}
            {% endif %}
            {% if form.instrument.help_text %}
            {{ form.instrument.help_text }}<br>
            {% endif %}
            
            {{ form.instrument }}</td>
        
        <td class="applicant_form_table">
            {{ form.school.label_tag }}<br>
            
            {% if form.school.errors %}
            {{ form.school.errors }}
            {% endif %}
            {% if form.school.help_text %}
            {{ form.school.help_text }}<br>
            {% endif %}
            
            {{ form.school }}</td>
        
    </tr>
  </table>
    <div id="applicant_form_footer">
         <div class="non_table_audition_form_elements">
    {{ form.youtube_link.label_tag }}<br>
    
    {% if form.youtube_link.help_text %}
        {{ form.youtube_link.help_text }}<br>
    {% endif %}
    {% if form.youtube_link.errors %}
        {{ form.youtube_link.errors }}
    {% endif %}
    
    
    {{ form.youtube_link }}<br>
        
    
    {% autoescape off %}
    {{ production_data.data }}
    {% endautoescape %}<br><br>
    
   
    <p>{{ form.availability.label_tag }}</p>
    
    {% if form.availability.errors %}
    {{ form.availability.errors }}
    {% endif %}
    {% if form.availability.help_text %}
    {{ form.availability.help_text }}<br>
    {% endif %}
    
    {{ form.availability }}<br>
    
    
    {{ form.avail_explain.label_tag }}
    
    {% if form.avail_explain.errors %}
    {{ form.avail_explain.errors }}
    {% endif %}
    {% if form.avail_explain.help_text %}
    {{ form.avail.explain.help_text }}<br>
    {% endif %}
    
    {{ form.avail_explain }}<br>
    
    <p>{{ form.work_eligibility.label_tag }}</p>
    
    {% if form.work_eligibility.errors %}
    {{ form.work_eligibility.errors }}
    {% endif %}
    {% if form.work_eligibility.help_text %}
    {{ form.work_eligibility.help_text }}<br>
    {% endif %}
    
    {{ form.work_eligibility }}<br>
    
    Click here to pay application fee: $10 

<br>
<br>
    
    <input type="submit" value="Submit" class="input_1" />
    
</form>


</form>


</div>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="paypal_button">
    <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="C6EMSB9JD7QTA">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</div>


{% endblock %}

<script type="text/javascript">
    if (screen.width >= 800) {
        var obj = document.getElementsByClassName("paypal_button");
        document.write(obj);
        
</script>



