{% extends "base.html" %}

{% block Instructions %}
<p>Please verify that your information is correct.</p>

<p>Click play on your youtube video below. If it doesn't play on this website, it isn't saved correctly in our database.</p>

<p>Don't forget to hit submit!</p>

<hr>
{% endblock %}

{% block Content %}
<form action="{% url 'audition_form_confirmation' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
        
        {{ field.label_tag }}
        {{ field.value }}<br>
        {{ field.as_hidden }}
        {% if field.id_for_label == "id_youtube_link" %}
            <iframe src="https://www.youtube.com/embed/{{ youtube_string }}"></iframe>
            {% endif %}
            
    {% endfor %}
    <br>
    <input type="submit" value="Submit" onclick="this.disabled=true,this.form.submit()" />
</form>

{% endblock %}
