{% extends "on_admin_base.html" %}

{% block Instructions %}
<p>You're logged in as {{ request.user.username }}</p>
<p>{{ count }} applicants in the database.</p>

<hr>

<h2>Filters</h2>

Use the following filters to refine the data search. To see the entire database, set all filters to the '---' setting.

<form action="{% url 'on_admin_db_info' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
        <br>
        {{ field.label_tag }}
        <br>
        {% if field.errors %}
            {{ field.errors }}
        {% endif %}
        {% if field.help_text %}
            {{ field.help_text }}<br>
        {% endif %}
    
        {{ field }}
    
    {% endfor %}
    <br>
    <input type="submit" value="Submit" />
</form>

<hr>

{% endblock %}

{% block Content %}
<div>
    
    <h2>Quick Tools</h2>

    <p><a href="{% url 'on_admin_data' %}">Download entire database as spreadsheet</a></p>

    <p><a href="{% url 'on_admin_accepted_confirmed' %}">Download accepted/alternate applicants who have confirmed as spreadsheet</a></p>
    
    <p>Click to display email list for current query (doesn't work yet, email's are displayed below)</p>

    {% for applicant in set %}
        {{ applicant.email_address }},
    {% endfor %}

<hr>

<h2>Database Query</h2>

{% for applicant in set %}
<table>
    <tr>
        <td class="tablelabel"><b>Name</b></td>
        <td class="tablevalue"><b>{{ applicant.first_name }} {{ applicant.last_name }}</b></td>
        <td id="tableavail" rowspan="11">{{ applicant.avail_explain }}</td>
    </tr>
    <tr>
        <td class="tablelabel">email</td>
        <td class="tablevalue">{{ applicant.email_address }}</td>
    </tr>
    <tr>
        <td class="tablelabel">confirmation</td>
        <td class="tablevalue">{{ applicant.confirmation }}</td>
    </tr>
    <tr>
        <td class="tablelabel">status</td>
        <td class="tablevalue">{{ applicant.status }}</td>
    </tr>
    <tr>
        <td class="tablelabel">instrument</td>
        <td class="tablevalue">{{ applicant.instrument }}</td>
    </tr>
    <tr>
        <td class="tablelabel">age</td>
        <td class="tablevalue">{{ applicant.age }}</td>
    </tr>
    <tr>
        <td class="tablelabel">school</td>
        <td class="tablevalue">{{ applicant.school }}</td>
    </tr>
    <tr>
        <td class="tablelabel">availability</td>
        <td class="tablevalue">{{ applicant.availability }}</td>
    </tr>
    <tr>
        <td class="tablelabel">ranking</td>
        <td class="tablevalue">{{ applicant.ranking }}</td>
    </tr>
    <tr>
        <td class="tablelabel">zip</td>
        <td class="tablevalue">{{ applicant.zip_code }}</td>
    </tr>
    <tr>
        <td class="tablelabel">phone</td>
        <td class="tablevalue">{{ applicant.phone_number }}</td>
    </tr>
    <tr>
        <td class="tablelabel">video</td>
        <td class="tablevalue"><a href="https://www.youtube.com/watch?v={{ applicant.youtube_link }}" target="_blank">www.youtu.be/{{ applicant.youtube_link }}</a></td>
    </tr>
</table>
{% endfor %}

{% if not set %}
    <p>There are no applicants or you haven't submitted a query</p>
{% endif %}

</div>

<br>
<br>

{% endblock %}

