{% extends "on_admin_base.html" %}

{% block Instructions %}
<p>You're logged in as {{ request.user.username }}</p>
<p>{{ count }} applicants in the database.</p>

<hr>

<h2>Create Judge</h2>

<p>Enter information and hit submit to create new judge</p>

{% if unique %}
<p><b>Username is already in use</b></p>
{% endif %}
<form action="{% url 'on_admin_create_judge' %}" method="post">
    {% csrf_token %}
    
    {% for field in form %}
    
    {{ field.label_tag }}
    {{ field }}
    <br>
    {% endfor %}

    <input type="submit" value="Submit" />
</form>

<hr>

{% endblock %}

{% block Content %}

    
 
{% endblock %}

