{% extends "on_admin_base.html" %}

{% block Instructions %}
<p>You're logged in as {{ request.user.username }}</p>

<hr>

<p><a href="{% url 'on_admin_create_judge' %}">Create New Judge</a></p>
<p><a href="{% url 'on_admin_delete_judge' %}">Delete Judge</a></p><p><a href="{% url 'on_admin_change_judge_email' %}">Edit Judge Email</a></p><p><a href="{% url 'on_admin_change_judge_password' %}">Change Judge Password</a></p><p><a href="{% url 'on_admin_associate_judge' %}">Associate Judge With An Instrument</a></p> <p><a href="{% url 'on_admin_disassociate_judge' %}">Disassociate Judge With An Instrument</a></p>

<hr>
<h2>Judges in the Database:</h2>
{% for field in judges %}


{{ field.username }},
{{ field.email }},
{% for x in field.ins.all %}
{{ x.name }}
{% endfor %}
    <br>
{% endfor %}




{% endblock %}

{% block Content %}




{% endblock %}
