{% extends "on_admin_base.html" %}

{% block Instructions %}
<p>You're logged in as {{ request.user.username }}</p>
<p>{{ count }} applicants in the database.</p>

<hr>

<h2>Change Judge Email</h2>

<p>Select Judge and submit to change email</p>

<form action="{% url 'on_admin_change_judge_email' %}" method="post">
    {% csrf_token %}
    
    {% for field in form %}
    {{  field.label_tag }}
    {{ field.errors }}
    {{  field  }}
    <br>
    {% endfor %}
    
    <input type="submit" value="Submit" />
</form>

<hr>

{% endblock %}

{% block Content %}



{% endblock %}

