<!DOCTYPE html>
<html lang="en">
    
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "AuditiON/on_admin_style.css" %}" />
    <title>{% block title %}AuditiON{% endblock %}</title>
   <script src="{% static "AuditiON/ckeditor/ckeditor.js" %}"></script>
</head>

<body>
    <div id="HeadPic">
        
    </div>
    <div id="BigWrapper">
        <div id="Wrapper">
            <div id="Content">
                <img src="{% static "AuditiON/Logo.png" %}">
                    <div id="Instructions">
                        {% block Instructions %}
                
                        {% endblock %}
                    </div>
                
                {% block Content %}
            
                {% endblock %}
                
            </div>
            <div id="Navigation">
                <p><a href="{% url 'on_admin_logout' %}">Logout</a></p>
                <p><a href="{% url 'on_admin_home' %}">Admin Home</a></p>
                <p><a href="{% url 'on_admin_locks' %}">Locks</p>
                <p><a href="{% url 'on_admin_db_info' %}">Database Info</a></p>
                
                <br>
                
                
                <p><a href="{% url 'on_admin_judge_home' %}">Judges</p>
                
                <p><a href="{% url 'on_admin_applicant_home' %}">Applicants</p>
                <p><a href="{% url 'on_admin_principals_home' %}">Principals</p>
                <p><a href="{% url 'on_admin_instrument_home' %}">Instruments</p>
                    
                <br>
                    
                    <p><a href="{% url 'on_admin_production_data_home' %}">ProductionData</p>
                    <p><a href="{% url 'on_admin_email_home' %}">Email</p>

            </div>
        </div>
    </div>
</body>
</html>
    
